[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/powerline"]
	path = vim/vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
