[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/zencoding"]
	path = vim/vim/bundle/zencoding
	url = git@github.com:mattn/zencoding-vim.git
[submodule "vim/vim/bundle/jade"]
	path = vim/vim/bundle/jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "vim/vim/bundle/airline"]
	path = vim/vim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vimclojure"]
	path = vim/vim/bundle/vimclojure
	url = git@github.com:vim-scripts/VimClojure.git
