[user]
	name = Andrew Kennedy
	email = akennedy2292@gmail.com
[github]
	user = L1fescape
  token = 
[core]
	excludesfile = /Users/andrewk/.gitignore_global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  co = checkout
  ci = commit
  st = status
  br = branch
  type = cat-file -t
  dump = cat-file -p
[diff]
  tool = vimdiff
[merge]
  tool = vim
[mergetool "vim"]
  cmd = vim \"+Gdiff\" $MERGED
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
